
html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0.75rem 0;
    padding: 0;
}

.cv-container {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}

.cv-container p {
	margin: 0;
}

.cv-name {
	font-size: 1.5rem;
}

.cv-update {
	color: #AAA;
	line-height: 2rem;
}

.cv-contact {
	
}

.cv-section {
	font-size: 1.2rem;
}

.cv-date {
	font-size: 0.8rem;
	padding-right: 1rem;
	line-height: 1.4rem;
}

.cv-title {
	font-weight: bold;
	/*padding: 1rem 0 0.5rem 0;*/
}

.cv-date, .cv-title {
	padding-top: 1rem;
}

.cv-info, .cv-emph {
	/*padding: 0;*/
}

.cv-emph {
	font-weight: bold;
	color: #555;
}

.cv-note {
	font-size: 0.8rem;
	font-style: italic;
	color: #555;
}


@media (max-width: 500px) {
	html {
		font-size: 12px;
	}
	.cv-container {
		width: 100%
	}
}

@media print {
	html {
		font-family: georgia, times, serif;
		font-size: 12px;
	}
	.cv-container {
		width: 100%
	}
	.no-print {
		display: none;
	}
	.flxgrid {
		/*display: inline-block;*/
	}
	[class^='flx-'] {
		page-break-inside: avoid;
		-webkit-region-break-inside: avoid;
		region-break-inside: avoid;
	}
	div.page {
		page-break-after: always;
		page-break-inside: avoid;
	}
}

/*</div>
<div class="page"></div>
<div class="flxgrid cv-container">*/